<div class="card shadow-3" [style.height.px]="width * 0.675" [style.width.px]="width">
  <div class="card-value" [style.background-image]="card.centerImageUrl"></div>

  <div *ngIf="card.strengthen" class="effect-icon strengthen"></div>
  <div *ngIf="card.muddle" class="effect-icon muddle"></div>
  <div *ngIf="card.poison" class="effect-icon poison"></div>
  <div *ngIf="card.wound" class="effect-icon wound"></div>
  <div *ngIf="card.immobilize" class="effect-icon immobilize"></div>
  <div *ngIf="card.stun" class="effect-icon stun"></div>
  <div *ngIf="card.bless" class="effect-icon bless"></div>
  <div *ngIf="card.curse" class="effect-icon curse"></div>
  <div *ngIf="card.invisible" class="effect-icon invis"></div>
  <div *ngIf="card.pierce" class="effect-icon pierce">
    <div class='effect-text'>{{card.pierce}}</div>
  </div>
  <div *ngIf="card.push" class="effect-icon push">
    <div class='effect-text'>{{card.push}}</div>
  </div>
  <div *ngIf="card.pull" class="effect-icon pull">
      <div class='effect-text'>{{card.pull}}</div>
  </div>
  <div *ngIf="card.disarm" class="effect-icon disarm"></div>
  <div *ngIf='card.targets' class='effect-icon target'></div>
  <div *ngIf='card.shield' class='effect-icon shield'>
      <div class='effect-text'>{{card.shield}}</div>
  </div>
  <div *ngIf='card.heal || card.selfHeal' class='effect-icon heal'>
      <div class='effect-text'>{{card.heal || card.selfHeal}}</div>
  </div> 

  <div *ngIf="card.fire" class="effect-icon fire"></div>
  <div *ngIf="card.ice" class="effect-icon ice"></div>
  <div *ngIf="card.nature" class="effect-icon nature"></div>
  <div *ngIf="card.wind" class="effect-icon wind"></div>
  <div *ngIf="card.light" class="effect-icon light"></div>
  <div *ngIf="card.darkness" class="effect-icon darkness"></div>

  <div *ngIf="card.chained" class="rolling"></div>
</div>