@import "../../styling/icons";

.card {
    // Maintain the aspect ratio ot 1:0.675
    // width: 200px;
    // height: 135px;
    background: url("../../../../assets/images/cards/cardback.jpg") no-repeat;
    background-size: contain;
    position: relative;

    .card-value {
        position: absolute;
        width: inherit;
        height: inherit;
        background: no-repeat;
        background-size: contain;
    }

    .rolling {
        width: 25%;
        height: 25%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 37%;
        left: 77%;
    }

    .effect-icon {
        width: 25%;
        height: 25%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 37%;
        left: 5%;
    }

    .pierce,
    .pull,
    .push,
    .heal,
    .shield {
        height: 20%;
        width: 22%;
        left: 3%
    }

    .effect-text {
        -webkit-text-stroke: .75px black;
        font-size: 300%;
        font-family: "Pirata One";
        position: relative;
        top: 33%;
        right: -70%;
    }
}