<div class="outer" [style.height.px]="windowHeight" [style.width.px]="windowWidth">

    <div class="top-bar scaled-font">
        <span class="character-name">{{character.name}}</span>
        <span class="pull-right align-right">
            <div>Round {{roundCounter}}</div>
            <div>Deck: {{deck.cards.length}} / {{deck.cards.length + deck.discard.length}}</div>
            <div *ngIf="deck.requiresShuffle">*Shuffle*</div>
        </span>
    </div>

    <div class="side-bar">
        <div class="side-bar-action" (click)="showAnalytics = true; calculateChances()" title="Show Analytics">
            <i class="material-icons">assessment</i>
        </div>
    </div>

    <div class="container" [style.max-height.px]="windowHeight">
        <div class="drawn-cards" *ngIf="deck.animationQueue.length" [@slideUp]="deck.animationQueue.length">
            <div class="drawn-card" *ngFor="let card of deck.animationQueue">
                <app-card [card]="card" [width]="getCardWidth()"></app-card>
            </div>
        </div>

        <div class="row card-history" *ngIf="cardHistoryVisible">
            <div class="history-card shadow-3" *ngFor="let card of deck.discard.slice().reverse()">
                {{card.name}}
            </div>
        </div>
    </div>

    <div class="attack-container">
        <div class="attack" *ngIf="attack" [@slideFromRight]>
            <span class="attack-value">
                <i class="ra ra-sword"></i>
                <span *ngIf="!attack.committed">{{baseDamage.value}}</span>
                <span *ngIf="attack.committed">{{attack.value}}</span>
            </span>
            <span *ngIf="attack.pierce" class="gh-icon pierce"><sub>{{attack.pierce}}</sub></span>
            <span *ngIf="attack.push">PUSH {{attack.push}}</span>
            <span *ngIf="attack.pull">PULL {{attack.pull}}</span>
            <span *ngIf="attack.poison" class="gh-icon poison"></span>
            <span *ngIf="attack.wound" class="gh-icon wound"></span>
            <span *ngIf="attack.disarm" class="gh-icon disarm"></span>
            <span *ngIf="attack.stun" class="gh-icon stun"></span>
            <span *ngIf="attack.strengthen" class="gh-icon strengthen"></span>
            <span *ngIf="attack.invisible" class="gh-icon invis"></span>
            <span *ngIf="attack.muddle" class="gh-icon muddle"></span>
            <span *ngIf="attack.fire" class="gh-icon fire"></span>
            <span *ngIf="attack.ice" class="gh-icon ice"></span>
            <span *ngIf="attack.nature" class="gh-icon nature"></span>
            <span *ngIf="attack.wind" class="gh-icon wind"></span>
            <span *ngIf="attack.light" class="gh-icon light"></span>
            <span *ngIf="attack.darkness" class="gh-icon darkness"></span>
        </div>
    </div>


    <div class="attack-footer">
        <div class="attack shadow-3" title="Attack" (click)="numpadEnabled = !numpadEnabled"></div>
        <div class="end-round shadow-3" title="End Round" (click)="proceedToNextRound()"></div>
    </div>

</div>

<div *ngIf="numpadEnabled" class="modal-exit" (click)="numpadEnabled = false"></div>

<div *ngIf="numpadEnabled" class="numpad" [@slideUpAndBackOut]>
    <div class="row">
        <div class="col-3" (click)="bless()">
            <div class="gh-icon bless"></div><sub>{{deck.blessCount}}</sub>
        </div>
        <div class="col-3" (click)="curse()">
            <div class="gh-icon curse"></div><sub>{{deck.curseCount}}</sub>
        </div>
        <div class="col-3"></div>
        <div class="col-3 base-damage">{{baseDamage.value}}</div>
    </div>
    <div class="row">
        <div class="col-3" (click)="clickNum(1)">1</div>
        <div class="col-3" (click)="clickNum(2)">2</div>
        <div class="col-3" (click)="clickNum(3)">3</div>

    </div>
    <div class="row">
        <div class="col-3" (click)="clickNum(4)">4</div>
        <div class="col-3" (click)="clickNum(5)">5</div>
        <div class="col-3" (click)="clickNum(6)">6</div>
        <div class="col-3" (click)="toggleAdvantage()" [ngClass]="{'toggled': deck.advantaged}">
            <div class="gh-icon strengthen"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-3" (click)="clickNum(7)">7</div>
        <div class="col-3" (click)="clickNum(8)">8</div>
        <div class="col-3" (click)="clickNum(9)">9</div>
        <div class="col-3" (click)="toggleDisadvantage()" [ngClass]="{'toggled': deck.disadvantaged}">
            <div class="gh-icon muddle"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-3" (click)="baseDamage.setValue(0)"><i class="material-icons">cancel</i></div>
        <div class="col-3" (click)="clickNum(0)">0</div>
        <div class="col-3" (click)="clickBackspace()"><i class="material-icons">backspace</i></div>
        <div class="col-3" (click)="createNewAttack()">
            <i class="material-icons check">check</i>
        </div>
    </div>
</div>

<div class="analytics" *ngIf="showAnalytics">
    <div class="pull-right panel-options">
        <i class="material-icons close" (click)="showAnalytics = false">close</i>
    </div>

    <div class="tabstrip">
        <span [ngClass]="{'tab-active': historyTabActive}"
            (click)="historyTabActive = true; chancesTabActive = false">History</span>
        <span [ngClass]="{'tab-active': chancesTabActive}"
            (click)="historyTabActive = false; chancesTabActive = true">Chances</span>
    </div>

    <div class="card-history" *ngIf="historyTabActive">
        <div class="container">
            <div class="row" *ngFor="let card of deck.discard.slice().reverse()">
                <app-card [card]="card" [width]="200"></app-card>
            </div>
        </div>
    </div>
    <div class="card-chances" *ngIf="chancesTabActive">
        <div class="container">
            <div class="row card-chance" *ngFor="let o of cardChances">
                <div class="col-6">
                    <app-card [card]="o.card" [width]="200"></app-card>
                </div>
                <div class="col-6">
                    <span class="chance-value">{{o.chance}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>