<div class="outer" [style.height.px]="windowHeight">
    <div class="container" [style.max-height.px]="windowHeight">
        <div class="row">
            <div class="actions" (click)="setDefaults()">Set Defaults</div>
        </div>
        <div class="row" *ngFor="let card of allCards">
            <div class="col-6">
                <div class="card shadow-3">
                    <div class="card-value" [style.background-image]="card.centerImageUrl"></div>

                    <div *ngIf="card.strengthen" class="effect-icon strengthen"></div>
                    <div *ngIf="card.muddle" class="effect-icon muddle"></div>
                    <div *ngIf="card.poison" class="effect-icon poison"></div>
                    <div *ngIf="card.wound" class="effect-icon wound"></div>
                    <div *ngIf="card.immobilize" class="effect-icon immobilize"></div>
                    <div *ngIf="card.stun" class="effect-icon stun"></div>
                    <div *ngIf="card.bless" class="effect-icon bless"></div>
                    <div *ngIf="card.curse" class="effect-icon curse"></div>
                    <div *ngIf="card.invisible" class="effect-icon invis"></div>
                    <div *ngIf="card.pierce" class="effect-icon pierce"></div>
                    <div *ngIf="card.push" class="effect-icon push"></div>
                    <div *ngIf="card.pull" class="effect-icon pull"></div>
                    <div *ngIf="card.disarm" class="effect-icon disarm"></div>

                    <div *ngIf="card.fire" class="effect-icon fire"></div>
                    <div *ngIf="card.ice" class="effect-icon ice"></div>
                    <div *ngIf="card.nature" class="effect-icon nature"></div>
                    <div *ngIf="card.wind" class="effect-icon wind"></div>
                    <div *ngIf="card.light" class="effect-icon light"></div>
                    <div *ngIf="card.darkness" class="effect-icon darkness"></div>

                    <div *ngIf="card.chained" class="rolling"></div>
                </div>
            </div>

            <div class="col-6">
                <div class="card-actions">
                    <div class="card-name">
                        {{card.name}}
                    </div>
                    <div class="card-action subtract shadow-3" (click)="removeCard(card.name)"></div>

                    <div class="card-amount">
                        {{deck.count(card.name)}}
                    </div>

                    <div class="card-action add shadow-3" (click)="addCard(card.name)"></div>
                </div>
            </div>
        </div>

    </div>
</div>