<div class="outer" [style.height.px]="windowHeight">
    <div class="container" [style.max-height.px]="containerHeight">
        <div class="row">
            <div class="actions" (click)="setDefaults()">Set Defaults</div>
        </div>
        <div class="row" *ngFor="let card of allCards">
            <div class="col-6">
                <app-card [card]="card" [width]="200"></app-card>
            </div>

            <div class="col-6">
                <div class="card-actions">
                    <div class="card-name">
                        {{card.name}} <i *ngIf="card.defaultAmount">({{card.defaultAmount}})</i>
                    </div>
                    <div class="card-action subtract shadow-3" (click)="removeCard(card.name)"></div>

                    <div class="card-amount">
                        {{deck.count(card.name)}}
                    </div>

                    <div class="card-action add shadow-3" (click)="addCard(card.name)"></div>
                </div>
            </div>
        </div>

    </div>
</div>