@import "../_global/styling/colors";
@import "../_global/styling/icons";

.container {
    overflow: auto;
}

.actions {
    font-family: 'Pirata One';
    font-size: 18px;
    margin: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.card {
    width: 200px;
    height: 135px;
    margin-top: 10px;
}

.card-actions {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-name {
        position: absolute;
        top: 15px;

        i {
            color: $yellow;
        }
    }

    .card-action {
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;

        &.subtract {
            background-color: $red;
            background: url("~/assets/images/cards/minus1.png") no-repeat;
            background-size: 100px;
            background-position-x: 50%;
            background-position-y: 50%;

        }

        &.add {
            background-color: $green;
            background: url("~/assets/images/cards/plus1.png") no-repeat;
            background-size: 100px;
            background-position-x: 50%;
            background-position-y: 50%;

        }
    }

    .card-amount {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 30px;
    }

    .card-default-difference {
        margin-left: -20px;
        padding-bottom: 15px;
    }
}