<div class="outer" [style.height.px]="windowHeight" [style.width.px]="windowWidth">
    <div class="container" [style.height.px]="windowHeight">
        <div class="form">
            <div class="row">
                <input 
                    type="text" 
                    id="name" 
                    [placeholder]='placeholderText' 
                    [class]="isWarningVisable() ? 'warning' : 'no-warning'" 
                    [formControl]="name">
                <!-- <label for="name">Character Name</label> -->
            </div>
            <div class="row character-portraits">
                <div class="col-4 col-md-6" *ngFor="let c of allClasses; index as i">
                    <div [class]="isPortraitSelected(i) ? 'selected character-portrait' : 'character-portrait'"
                        (click)="setSelected(c, i)"
                        [style.backgroundImage]="'url(' + c.thumbnailUrl + ')'"></div>
                </div>
            </div>
            <div class="row">
                <div class="dashed-button" (click)="createCharacter()">
                    <a>Create Character</a>
                </div>
            </div>
        </div>

    </div>
</div>
