<div class="col-12">
    <div *ngIf="character" class="character-card">
        <div class="character-portrait" [style.backgroundImage]="'url(' + character.class.thumbnailUrl + ')'"></div>
        <span class="character-details">
            <div class="character-name">{{character.name}}</div>
            <div class="character-actions">
                <a href="/deckEditor/{{character.name}}"><i class="ra ra-forging"></i></a>
                <a href="/attackModifierSimulator/{{character.name}}"><i class="ra ra-crossed-swords"></i></a></div>
        </span>
    </div>
</div>


<!-- <div class="col-sm-6">
    <div class="gh-character-card mdl-card mdl-shadow--2dp">

        <div *ngIf="character" class="mdl-card__title" [style.backgroundImage]="'url(' + character.class.fullImageUrl + ')'">
            <h2 class="mdl-card__title-text">{{character.name}}</h2>
        </div>

        <div *ngIf="!character" class="mdl-card__title" [style.backgroundImage]="'url(/assets/images/cover.jpeg)'">
            <h2 class="mdl-card__title-text">{{tileName}}</h2>
        </div>

        <div class="mdl-card__supporting-text">
            <div *ngIf="!character">Bring in a mercenary into the city of GloomDust.</div>

            <div *ngIf="character">
                Specific character details...
            </div>
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <a *ngFor="let action of actions" [href]="action.route" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                {{action.label}}
            </a>

            <div *ngIf="character">
                <a href="/attackModifierSimulator/{{character.name}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Go to Attack Simulator
                </a>
                <a href="/deckEditor/{{character.name}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Edit Deck
                </a>
            </div>
        </div>
    </div>
</div> -->
