@import '../../_global/styling/colors';

.gh-character-card {

    .mdl-card__title {
        color: #fff;
        height: 250px;
        background: no-repeat;
        background-size: 100%;
        background-position-y: 15%;
    }

    .gh-character-stats {
        .mdl-chip {
            margin-left: 5px;
        }
    }

}

.character-card {
    height: 200px;
    width: 100%;
    font-family: "Pirata One";

    .character-portrait {
        height: 170px;
        width: 170px;
        margin-top: 10px;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }

    .character-details {
        position: absolute;
        left: 200px;
        top: 10px;

        .character-name {
            font-size: 30px;
        }

        .character-actions {
            margin-top: 35px;
            font-size: 72px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: $yellow;
                text-decoration: none;
            }

            a:visited {
                color: $yellow;
            }

            i {
                margin: 10px;
            }
        }
    }
}