<div class="col-12">
    <div *ngIf="character" class="character-card">
        <div class="character-portrait" [style.backgroundImage]="'url(' + character.class.thumbnailUrl + ')'"></div>
        <span class="character-details">
            <div class="character-name">{{character.name}}</div>
            <div class="character-actions">
                <a href="/deckEditor/{{character.name}}"><i class="ra ra-forging"></i></a>
                <a href="/attackModifierSimulator/{{character.name}}"><i class="ra ra-crossed-swords"></i></a></div>
        </span>
    </div>
</div>