$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$dark: #34495e;
$grey: #7f8c8d;
$poison: #218913;
$stun: #1541b2;
$pierce: $orange;
$wound: $orange;
$invisible: #303030;
$muddle: #663600;
$immobilize: $red;
$disarm: $grey;
$strengthen: $blue;
