/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
// @import url(../node_modules/rpg-awesome/css/rpg-awesome.min.css);

@font-face {
    font-family: "Pirata One";
    src: url(assets/fonts/PirataOne-Regular.ttf);
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$dark: #34495e;
$grey: #7f8c8d;

body {
    margin: 0px;
    // background-color: var(--base-bg);
    // color: var(--base-text);
    // font-family: "Pirata One";
}

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadow-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.outer {
    padding-top: 40px;
    height: 100%;
    background: rgba(84, 10, 0, 1);
    background-image: url("../src/assets/images/wood-pattern.png");
    color: white;
}

input {
    font-family: "Pirata One";
    width: 100%;
    background: none;
    font-size: 30px;
    color: $yellow;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
}

input::placeholder {
    color: white;
}

.dashed-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed white;
    padding: 15px;
    margin: 15px;

    a {
        font-family: "Pirata One";
        font-size: 32px;
        text-decoration: none;
    }

    a:visited {
        color: white;
    }
}

::-webkit-scrollbar {
    background-color: transparent;
    opacity: 0.5;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    /* background: var(--base-bg-light2); */
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 3px;
}