.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);

    .toggle {
        position: fixed;
        top: 10px;
        left: 0px;
    }

    .title {}
}
